.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#login-banner {
  display: flex;
  position: relative;
  background-color: #FFC75F;
  color: white;
  text-align: left;
  align-items: center;
  padding: 20px;
  padding-bottom: 120px;
  z-index: 1;
}
.img.logo {
  position: absolute;
  padding: 30px;
  z-index: 3;
}
.img.splash {
  z-index: 2;
  padding: 10px;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  width:600px ;
  height: 120px;
  z-index: 3;
  border-bottom: 10px #845EC2 solid;
  margin:auto;
}

.form.login {
  position: relative;
  top: -50px;
}


.input {
  display:flex;
  position: relative;
  align-items: center;
  border: 3px solid lightgrey;
  border-radius: 25px;
  width: 500px;
  padding: 5px;
  margin: auto;
}

#login-error {
  position: absolute;
  bottom: 5px;
  left: 15%;
  color: red;
}

.input button {
  padding: 0;
  border: none;
  background: none;
}

.input input {
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  width: 500px;
}
.input label {
  position: relative;
  padding-left: 5px;
  padding-bottom: 7px;
  font-size: 24px;
}

#navbar {
  background-color: #FFC75F;
  border-bottom: 2px solid #E7B355;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

#navbar-user {
  position: absolute;
  left: 85%;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  color: white;
}

#navbar-user span {
  font-size: 18px;
  border-bottom: 1px solid white;
}

#navbar-user span:hover {
  font-size: 18px;
  border-bottom: 1px solid #E7B355;
  color: #E7B355;
}

#navbar-user img {
  width: 40px;
  height: 40px;
}

.form.translation {
  top: 20%;
}

.form.signs {
  top: 50px;
  height:auto;
}

.translation.list {
  padding: 5px;
}

.translation.banner {
  height: 190px;
  background-color: #FFC75F;
}

.input.translation {
  background-color: white;
  top: 80px;
  width: 600px;
}

.input.translation button{
  padding-left: 20px;
}

.form.profile {
  height: fit-content;
  display: grid;
  text-align: left;
  padding-left: 30px;
}